<h1>Usuarios Registrados</h1>
<div class="clear">
  <table class="table">
    <thead>
      <tr>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{item.firstName}}</td>
        <td>{{item.secondName}}</td>
        <td>{{item.firstSurName}}</td>
        <td>{{item.secondSurName}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.address}}</td>
        <td>
          <img src="../../assets/edit.png" class="editIcon" (click)="edit(item)">
          <img src="../../assets/delete.png" class="editIcon" (click)="delete(item)">
        </td>
      </tr>
    </tbody>
  </table>
</div>

